.page-body {
    background-color: turquoise;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.label-style {
    display: block;
    text-align: center;

    width: 300px;
    height: 100px;
    margin: 15px;
    background-color: pink;
    border-radius: 5px;
    box-shadow: -3px 3px 2px rgb(223, 147, 160);
}

.input-style {
    width: 100px;
    height: 30px;
    margin-left: 25px;
    border: none;
    color: green;
    margin-top: 35px;
}

.span-style {
    border: 2px solid #fff;
    padding: 10px;
    margin-left: 15px;
    border-radius: 20px;
}

.btn-style {
    margin-top: 15px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    outline: none;
}

.btn-style:hover {
    background-color: rgb(59, 182, 172);
}

.errMess-style{
    font-size: .5em;
    margin: 5px 0 0 90px;
}
